<link rel="stylesheet" type="text/css" href="~/css/style.css" />



<nav class="navbar">
    <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span> <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <a class="navbar__links" asp-controller="Home" asp-action="Index">ShopApp</a>

    <div class="navbar__container">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__links" asp-controller="Home" asp-action="Index">AnaSayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="navbar__item">
                <a class="navbar__links" asp-controller="Shop" asp-action="List">Products</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="navbar__item">
                    <a class="navbar__links" href="#">Cart</a>
                </li>

                <li class="navbar__item">
                    <a class="navbar__links" href="#">Orders</a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li class="navbar__item">
                        <a asp-controller="Admin" asp-action="CreateProduct" class="navbar__links">Add Product</a>
                    </li>
                    <li class="navbar__item">
                        <a asp-controller="Admin" asp-action="ProductList" class="navbar__links">Admin Product</a>
                    </li>
                    <li class="navbar__item">
                        <a asp-controller="Admin" asp-action="CreateCategory" class="navbar__links">Add Category</a>
                    </li>
                    <li class="navbar__item">
                        <a asp-controller="Admin" asp-action="CategoryList" class="navbar__links">Admin Categories</a>
                    </li>
                }
            }
        </ul>

        <ul class="navbar-nav ml-auto flex-row">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="navbar__btn">
                    <a asp-controller="Account" asp-action="Manage" class="navbar__links">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="navbar__btn">
                    <a class="button" asp-controller="Account" asp-action="Logout" style="border-radius:75px;">Logout</a>
                </li>
            }
            else
            {
                <li class="navbar__btn">
                    <a asp-controller="Account" asp-action="Login" class="button" style="display:inline;" style="border-radius:75px;">Login</a>
                </li>
                <li class="navbar__btn">
                    <a asp-controller="Account" asp-action="Register" class="button" style="display:inline;" style="border-radius:75px;">Register</a>
                </li>

            }
        </ul>



        @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            width: 50%; background: #131313;
            color: #fff;
            transition: all 0.3s ease;">
            Search
            </button>
            </form>*@
    </div>
</nav>

